
body{
    background-image: url('images/site/small_check.jpg');
    border: 1px solid #4c96d7;
    margin: 20px;
}

nav{
    background-color: #3a3a3a;
    padding: 10px;
}
nav li{
    display: inline;
}
nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3em;
}
nav a:hover{
    text-decoration: underline;
    color: #26547C;
}

footer{
    border-top: 2px solid #3a3a3a;
    text-align: center;
}