html{
    
    background-image: url('/../phpmotors/images/site/small_check.jpg');
}
body{
    border: 2px solid #4c96d7;
    border-radius: 15px;
    background-color: white;
    margin: 20px;
}

#login-link
{
    text-decoration: none;
    color: #3a3a3a;
    font-size: 1.3em;
    position: relative;
    top: 0;
    right: 0;
    text-align: right;
}

nav{
    background-color: #3a3a3a;
    padding: 10px;
}
nav li{
    display: inline;
}
nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3em;
    background-color: #4c96d7;
}
nav a:hover{
    text-decoration: underline;
    color: #26547C;
}

footer{
    border-top: 2px solid #3a3a3a;
    text-align: center;
}